body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    <div id="sfc5k385lucw54app58zlg4xcm5ftdjnbcw"></div>
<script type="text/javascript" src="https://counter1.optistats.ovh/private/counter.js?c=5k385lucw54app58zlg4xcm5ftdjnbcw&down=async" async></script>
<noscript><a href="https://www.contatoreaccessi.com" title="contatori web"><img src="https://counter1.optistats.ovh/private/contatoreaccessi.php?c=5k385lucw54app58zlg4xcm5ftdjnbcw" border="0" title="contatori web" alt="contatori web"></a></noscript>
}

header {
    background-color: #003366;
    color: white;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

.hero {
    background-color: #f2f2f2;
    padding: 2em;
    text-align: center;
}

.anteprima-prodotti, main h2 {
    padding: 1em;
    text-align: center;
}

.prodotto {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em auto;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.prodotto img {
    width: 150px;
    height: auto;
    margin-bottom: 1em;
}

.prodotto a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: #003366;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

